.App {
/* background:#ffc700; */
}

.viatechButtons:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }
 .viatechButtons{
    background:rgb(96, 174, 248);
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 10px;
  }
  .viatechButtons:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .viatechButtons:before,.viatechButtons:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .viatechButtons:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .viatechButtons:hover:before,.viatechButtons:hover:after{
    width:100%;
    transition:800ms ease all;
  }